<% provide(:title, "ICS 624 Tourism Routes") %>

<% poi_coordinates = [] %>
<% poi_names = [] %>
<% route_names = [] %>
<% routes = [] %>
<% locales = [] %>

<% Point.all.each do |p| %>
  <% unless p.latitude.nil? || p.longitude.nil? || p.name.nil? %>
    <% poi_coordinates[p.id] = p.gmaps_address %>
    <% poi_names[p.id] = p.name %>
  <% end %>
<% end %>

<% Route.all.each do |r| %>
  <% unless r.name.nil? || r.points_on_route.nil? %>
    <% route_names[r.id] = r.name %>
    <% routes[r.id] = r.to_array %>
    <% print "#{r.name}: #{routes[r.id]}\n" %>
  <% end %>
<% end %>

<% Locale.all.each do |l| %>
  <% unless l.name.nil? %>
    <% locales[l.id] = l.name.downcase %>
  <% end %>
<% end %>

<%= javascript_tag do %>
  initializeData(<%= raw poi_coordinates.to_json %>, <%= raw poi_names.to_json %>,
                 <%= raw route_names.to_json %>, <%= raw routes.to_json %>,
                 <%= raw locales.to_json %>);
<% end %>

<div id="map-panel" class="jumbotron">
  <div class="row">
    <button id="route-1-button" type="button" class="btn col-sm-2 route-button">Route 1</button>
    <button id="route-2-button" type="button" class="btn col-sm-2 route-button">Route 2</button>
    <button id="route-3-button" type="button" class="btn col-sm-2 route-button">Route 3</button>
    <button id="route-4-button" type="button" class="btn col-sm-2 route-button">Route 4</button>
    <button id="route-5-button" type="button" class="btn col-sm-2 route-button">Route 5</button>
    <button id="route-6-button" type="button" class="btn col-sm-2 route-button">Route 6</button>
  </div>
  <div id="map">
    
  </div>  
</div>
<form id="search-fields" class="center-block form-inline">
  <div class="form-group">
    <label for="locale" class="label label-default">Search Criteria:</label>
    <input id="locale" name="locale" class="form-control" type="text">
    <button type="button" id="search-button">Search</button>
  </div>
</form>