<div id="route-1" class="route-data"><%= @locale.route_1_id %></div>
<div id="route-2" class="route-data"><%= @locale.route_2_id %></div>
<div id="route-3" class="route-data"><%= @locale.route_3_id %></div>
<div id="route-4" class="route-data"><%= @locale.route_4_id %></div>
<div id="route-5" class="route-data"><%= @locale.route_5_id %></div>
<div id="route-6" class="route-data"><%= @locale.route_6_id %></div>