<div id="route-1-id"><%= @locale.route_1.id unless @locale.route_1.nil? %></div>
<div id="route-1-name"><%= @locale.route_1.name unless @locale.route_1.nil? %></div>
<div id="route-1-points-on-route"><%= @locale.route_1.points_on_route unless @locale.route_1.nil? %></div>
<div id="route-2-id"><%= @locale.route_2.id unless @locale.route_2.nil? %></div>
<div id="route-2-name"><%= @locale.route_2.name unless @locale.route_2.nil? %></div>
<div id="route-2-points-on-route"><%= @locale.route_2.points_on_route unless @locale.route_2.nil? %></div>
<div id="route-3-id"><%= @locale.route_3.id unless @locale.route_3.nil? %></div>
<div id="route-3-name"><%= @locale.route_3.name unless @locale.route_3.nil? %></div>
<div id="route-3-points-on-route"><%= @locale.route_3.points_on_route unless @locale.route_3.nil? %></div>
<div id="route-4-id"><%= @locale.route_4.id unless @locale.route_4.nil? %></div>
<div id="route-4-name"><%= @locale.route_4.name unless @locale.route_4.nil? %></div>
<div id="route-4-points-on-route"><%= @locale.route_4.points_on_route unless @locale.route_4.nil? %></div>
<div id="route-5-id"><%= @locale.route_5.id unless @locale.route_5.nil? %></div>
<div id="route-5-name"><%= @locale.route_5.name unless @locale.route_5.nil? %></div>
<div id="route-5-points-on-route"><%= @locale.route_5.points_on_route unless @locale.route_5.nil? %></div>
<div id="route-6-id"><%= @locale.route_6.id unless @locale.route_6.nil? %></div>
<div id="route-6-name"><%= @locale.route_6.name unless @locale.route_6.nil? %></div>
<div id="route-6-points-on-route"><%= @locale.route_6.points_on_route unless @locale.route_6.nil? %></div>